#tv {
  box-sizing: border-box;
  padding: 3em 3.5em;
  width: 450px;
  background: #fff;
  position: relative;
  margin-left: 35%;
  font-size: 25px;
  height: max-content;
  border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
  box-shadow: 20px 20px rgba(0,0,0,.15);
  transition: all .4s ease;
}
#tv:hover {
  border-radius: 0% 0% 50% 50% / 0% 0% 5% 5% ;
  box-shadow: 10px 10px rgba(0,0,0,.25);
}